.titlebox{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

.titlebox__header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}